<div class="auth-container">
  <h2>Fund Your Account(in USD)</h2>
  <form id="fundingForm">
    {{input type="number" placeholder="Enter amount" value=amount required="required"}}
    <button type="submit">Add Funds</button>
  </form>
  <p>{{status}}</p>
</div>
